@import "bootstrap";
/*@import url('https://fonts.googleapis.com/css?family=Pangolin');*/

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 20px;
  
}

h1 h2 h3 h4 h5 h6 {
    margin: 0;
    padding: 0;
}

body {
  background: image_url('congruent_pentagon.png');
  /* am thinking of just using plain color rather than texture background */
}

.navbar {

  /* tried texture background, didn't like it, stayed with color */
  box-shadow: 10px 10px 5px grey;
  font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
}

.navbar-brand {
  color: #9E57C2;
  /* color for font no appearing on navbar */
  font-family: /*'Pangolin', cursive*/ 'kaushan_scriptregular';
  font-weight: 600;
  letter-spacing: -0.3px;
  font-size: 30px;
}

